[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
textual = "*"
sqlalchemy = "*"
requests = "*"
arrow = "*"
pipfile = "*"

[dev-packages]
black = "*"
pylint = "*"
mypy = "*"
pre-commit = "*"
build = "*"
twine = "*"
textual-dev = "*"

[requires]
python_version = "3.10"
