#yes-button #no-button {
    margin: 0 1;
}

ConfirmQuit {
    align: center middle;
}

#question {
    margin-top: 3;
}

#dialog {
    height: 12;
    width: 62;
}

#horizontal-container {
    margin-top: 1;
}
