Header {
    background: $panel;
}

#accounts-table {
    width: 50%;
}

Label {
    width: 100%;
    text-align: center;
}

#create-account-button, #transaction-button {
    background: $accent-lighten-3;
}

#manage-accounts-button, #transfer-btn {
    background: $warning-darken-2;
}

Rule {
    margin: 0;
}

Horizontal {
    align: center top;
}

Button {
    margin: 1 1;
}
